/* for mobile */
* {
    box-sizing: border-box;
}


@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    position: relative;
  }

    body {
        background-color: lightblue;

    }

    .preview-baku img{
      width: 100%;
      height: auto;
      display: inline-block;
    }

    .preview-baku{
      width: 100%;
      position: relative;
      color: black;
      display: block;
    }

    .preview-madrid img{
      width: 100%;
      height: auto;
      display: inline-block;
    }

    .preview-madrid{
      width: 100%;
      position: relative;
      color: black;
      display: block;
    }

    .preview-london img{
      width: 100%;
      height: auto;
      display: inline-block;
    }

    .preview-london{
      width: 100%;
      position: relative;
      color: black;
      display: block;
    }

    .preview-rome img{
      width: 100%;
      height: auto;
      display: block;
    }

    .preview-rome{
      width: 100%;
      position: relative;
      color: black;
      display: block;
    }


}

@media only screen and (min-width: 601px) {
    body {
        background-color: pink;

    }
    .container {
      width: 100%;
      position: relative;

    }

    .preview-baku img{
      width: 40%;
      height: 200px;
      display: inline-block;
      /* padding: 5px 5px 5px 100px; */
    }

    .preview-london img{
      width: 40%;
      height: 200px;
      display: inline-block;
      /* padding: 5px 100px 5px 5px; */
    }

    .preview-madrid img{
      width: 50%;
      height: auto;
      /* padding: 5px 100px 5px 5px; */
    }

    .preview-rome img{
      width: 50%;
      height: auto;
      /* padding: 5px 5px 5px 100px; */
    }

  }

  img {
    max-width: 100%; /* actual img width */
	background-image: url(madrid.jpg);
	background-size: cover;
	background-position: center;
  }




h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 150%;
  text-align: center;
  margin: 10%;

}

h2 {
  font-family: serif;
  font-size: 170%;
}

.top-left {
  position: absolute;
  top: 10%;
  left: 10%;
}


img {
  margin-bottom: 20px;
}

/* .center {
  display: block;
  margin-left: : auto;
  margin-right: auto;
  width: 50%;
} */
