
/* * {
    box-sizing: border-box;
} */


/* general CSS */

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .preview {
    width: 100%;
    height: 400px;
    }

  .baku {
    background-image: url("../images/baku.jpg");
    background-size: cover;
    background-position: left;
    margin: 2em 0;

  }

  .london {
    background-image: url("../images/london.png");
    background-size: cover;
    background-position: left;
    margin: 2em 0;
  }

  .madrid {
    background-image: url("../images/madrid.jpg");
    background-size: cover;
    background-position: left;
    margin: 2em 0;
  }

  .rome {
    background-image: url("../images/rome.jpg");
    background-size: cover;
    background-position: left;
    margin: 2em 0;
}

.container > h1 {
 font-family: sans-serif;
 text-transform: uppercase;
 font-size: 150%;
 text-align: center;
 margin: 10%;

}

.preview > h1 {
 font-family: serif;
 font-size: 2em;
 padding-left: 40px;
 padding-top: 50px;
}


/*media q */
/* for mobile */
@media (min-width: 600px){
    body {
        background-color: lightblue;
    }
}

/* for tablet */
@media only screen and (min-width: 601px) {
    body {
        background-color: pink;
    }
    .container {
      width: 80%;
      margin: 0 auto;
    }

    .preview {
  float: right;
  height: 200px;
  margin: 1%;
  width: 40%;
  }

    .preview > h1 {
     font-family: serif;
     font-size: 1em;
     padding-left: 20px;
     padding-top: 20px;
    }


  }

  /* for desktop */
  @media only screen and (max-width: 800px) {
      /* body {
          background-color: black;
      } */
    }
