/* { box-sizing: border-box; } */

/* general CSS */

body {
  background-color : lightgrey;
}

.container {
  width  : 100%;
  margin : 0 auto;
}

.preview {
  width  : 100%;
  height : 400px;
}

.baku {
  margin              : 2em 0;
  background-image    : url("../images/baku.jpg");
  background-position : left;
  background-size     : cover;
}

.london {
  margin              : 2em 0;
  background-image    : url("../images/london.png");
  background-position : left;
  background-size     : cover;
}

.madrid {
  margin              : 2em 0;
  background-image    : url("../images/madrid.jpg");
  background-position : left;
  background-size     : cover;
}

.rome {
  margin              : 2em 0;
  background-image    : url("../images/rome.jpg");
  background-position : left;
  background-size     : cover;
}

.container > h1 {
  margin         : 25px 25px 50px 25px;
  text-align     : center;
  text-transform : uppercase;
  font-family    : sans-serif;
  font-size      : 100%;
}

.preview > h1 {
  padding-top  : 50px;
  padding-left : 40px;
  font-family  : serif;
  font-size    : 2em;
}

/* for tablet */

@media
  only screen
  and (min-width : 600px) {
  .container {
    width  : 80%;
    margin : 0 auto;
  }

  .preview {
    width  : 48%;
    height : 200px;
    float  : left;
    margin : 1%;
  }

  .preview > h1 {
    padding-top  : 20px;
    padding-left : 20px;
    font-family  : serif;
    font-size    : 1em;
  }
}

/* for desktop */

@media
  only screen
  and (min-width : 800px) {
  .container {
    width  : 80%;
    margin : 0 auto;
  }

  .preview {
    width  : 23%;
    height : 200px;
    float  : left;
    margin : 1%;
  }

  .preview > h1 {
    padding-top  : 20px;
    padding-left : 20px;
    font-family  : serif;
    font-size    : 1em;
  }
}
